---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <main>
        <div class="page-wrapper">
            <span id="cursorFollower" class="cursorFollower"></span>

            <section id="contact" class="contact">
                <div class="contact__container container">
                    <div class="contact__texts">
                        <h1 id="contact__title" class="contact__title">
                            LET'S WORK TOGETHER
                        </h1>
                        <p class="contact__subtitle subtitle">
                            Have a project in mind? Feel free to reach out to me
                        </p>
                    </div>
                    <form class="contact__form">
                        <div class="input-group">
                            <input
                                type="text"
                                name="name"
                                id="name"
                                placeholder="Your name"
                                required
                            />
                            <input
                                type="email"
                                name="email"
                                id="email"
                                placeholder="Your email"
                                required
                            />
                        </div>

                        <div class="input-group">
                            <input
                                type="tel"
                                name="phone"
                                id="phone"
                                placeholder="Your phone(optional)"
                            />
                            <input
                                type="text"
                                name="service"
                                id="service"
                                placeholder="Type of service (development, design)"
                                required
                            />
                        </div>
                        <textarea
                            name="description"
                            id="description"
                            placeholder="Tell me about your project"
                            required></textarea>
                        <button
                            class="btn magnetic-button"
                            type="submit"
                            class="btn"
                        >
                            <span class="text">Send message</span>
                            <span class="btn__bg"></span>
                        </button>
                    </form>
                </div>
            </section>
        </div>
    </main>
    <script>
        import { gsap } from "gsap";
        document.addEventListener("DOMContentLoaded", () => {
            function cursorFollowerEffect() {
                if (window.innerWidth <= 1024) return;
                const follower = document.getElementById("cursorFollower");
                const wrapper = document.querySelector(".page-wrapper");

                let targetX = 0,
                    targetY = 0;
                let currentX = 0,
                    currentY = 0;

                wrapper.addEventListener("mousemove", (e) => {
                    const rect = wrapper.getBoundingClientRect();
                    targetX = e.clientX - rect.left;
                    targetY = e.clientY - rect.top;
                    console.log(targetX, targetY, currentX, currentY);
                });

                gsap.ticker.add(() => {
                    currentX += (targetX - currentX) * 0.04;
                    currentY += (targetY - currentY) * 0.04;

                    gsap.set(follower, {
                        x: currentX,
                        y: currentY,
                    });
                });
            }
            function buttonEffect() {
                function resetMagnet(button, text) {
                    gsap.to(button, {
                        x: 0,
                        y: 0,
                        duration: 2.5,
                        ease: "elastic.out(1.2, 0.2)",
                    });

                    gsap.to(text, {
                        x: 0,
                        y: 0,
                        ease: "power3.out",
                    });
                }

                const buttons = document.querySelectorAll(".magnetic-button");
                buttons.forEach((button) => {
                    const text = button.querySelector(".btn .text");
                    const buttonMagnetPower = button.dataset.strength;
                    const textMagnetPower = button.dataset.strengthText;
                    const bg = button.querySelector(".btn__bg");

                    //========= BG follow mouse effect
                    const handleOrigin = (e) => {
                        const rect = button.getBoundingClientRect();
                        bg.style.left = `${e.clientX - rect.left}px`;
                        bg.style.top = `${e.clientY - rect.top}px`;
                    };

                    button.addEventListener("mouseenter", (e) => {
                        handleOrigin(e);
                    });
                    button.addEventListener("mousemove", function (e) {
                        const rect = button.getBoundingClientRect();
                        const offsetX = e.clientX - rect.left - rect.width / 2;
                        const offsetY = e.clientY - rect.top - rect.height / 2;

                        // Move button and text with GSAP
                        gsap.to(button, {
                            x: offsetX * 0.5 * buttonMagnetPower,
                            y: offsetY * 0.5 * buttonMagnetPower,
                            duration: 0.5,
                            ease: "power3.out",
                            overwrite: "auto",
                        });

                        gsap.to(text, {
                            x: offsetX * textMagnetPower * 0.5,
                            y: offsetY * textMagnetPower * 0.5,
                            duration: 0.5,
                            ease: "power3.out",
                            overwrite: "auto",
                        });
                    });

                    button.addEventListener("mouseleave", (e) => {
                        resetMagnet(button, text);
                        handleOrigin(e);
                    });
                });
            }
            cursorFollowerEffect();
            buttonEffect();
        });
    </script>
</Layout>

<style lang="scss">
    @use "../styles/utils" as responsive;

    main {
        position: relative;
        z-index: 2;
        pointer-events: none;
    }

    .contact {
        pointer-events: all;
        padding: calc(var(--space-md) + 100px) 0 var(--space-2xl) 0;
        border-radius: 0 0 var(--round) var(--round);
        &__container {
            flex-flow: column;
            gap: var(--space-lg);
        }
        &__text,
        &__form {
            width: 100%;
        }
        &__title,
        &__subtitle {
            text-align: center;
        }
        &__title {
            margin-bottom: var(--space-sm);
        }

        &__form {
            @mixin input-style() {
                width: 100%;
                color: var(--color-text-white);
                background-color: transparent;
                border: none;
                border-bottom: 1px solid white;
                padding: 1em;
                &::placeholder {
                    color: rgba(255, 255, 255, 0.699);
                    font-size: 1.2rem;
                }
                &:focus {
                    border-bottom: 1px solid var(--color-primary);
                    outline: none;
                }
            }
            display: flex;
            flex-flow: column;
            justify-content: center;
            align-items: center;
            gap: 20px;
            .input-group {
                width: 100%;
                display: flex;
                flex-flow: column;
                input {
                    @include input-style();
                }
            }

            textarea {
                @include input-style();
                &::placeholder {
                    color: var(--color-text-white);
                }
            }
        }
    }

    @include responsive.respond-to("mobile") {
        .contact {
            .input-group {
                flex-flow: row;
                gap: var(--space-sm);
            }
        }
    }
</style>
