---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>Jafar Khan</title>
    </head>
    <body class="no-scroll">
        <div class="intro">
            <div class="intro__wrapper">
                <div class="logo">
                    <div class="logo__wrapper">
                        <div class="logo__content">
                            <svg
                                class="logo__icon"
                                id="Layer_1"
                                data-name="Layer 1"
                                xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 88.47 59.44"
                                ><path
                                    d="M68.74,0l5.41,5.59L20.09,59.44,14.54,54Z"
                                ></path><path
                                    d="M77.88,30l-7.74-6L76.5,18l12,11.89L71.24,47.2l-6.13-5.62Z"
                                ></path><path
                                    d="M18,36.57l-6,6L0,30.19,17.31,13.11l5.87,5.71L11.64,30Z"
                                ></path></svg
                            >
                            <span class="logo__text"> Code by Jafar </span>
                        </div>
                        <svg
                            class="logo__border"
                            viewBox="0 0 235 56"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                        >
                            <rect
                                x="1"
                                y="1"
                                width="233"
                                height="54"
                                rx="27"
                                stroke="white"
                                stroke-width="2"></rect>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
        <Header />
        <slot />
        <Footer />
        <script src="../code/hamburgermenu.js"></script>
        <script src="../code/preloader.js"></script>s
    </body>
</html>

<style is:global lang="scss">
    @use "../styles/globals";
    @use "../styles/utils" as responsive;
    main {
        margin-bottom: 15em;
    }

    .active-fadein {
        display: block !important;
        opacity: 1 !important;
        transition: 0.5s ease all !important;
    }
    @include responsive.respond-to("laptop") {
        main {
            margin-bottom: 10em;
        }
    }
    @view-transition {
        navigation: auto;
    }
</style>
